*{
  box-sizing: border-box;
}

body {
  background-color: #ffc038;
  min-height: 100vh;
  margin: 0;
}

.card-title {
  text-align: center;
  background-color: #ffda89;
}

#calculator {
  margin-top: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

#calculator-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 12.5rem;
  margin-left: 1rem;
}

.calcB {
  color: rgb(0, 0, 0);
  background: #e2b75b;
  padding: 0.8rem;
  border: #000000 solid 1px;
}

.calcN {
  background: #ffda89;
}

.calcB:hover {
  background-color: antiquewhite;
}
.calcB:active {
  background-color: white;
  border: #ffda89 solid 1px;
}

#visor-cont {
  display: flex;
  background: #e2b75b;
  width: 12.5rem;
  height: 3rem;
  margin-left: 1rem;
  text-align: right;
  border: 1px solid black;
}

#visor {
  margin: 0.8rem 0 0 0;
  padding-right: 0.5rem;
  flex: 4rem;
  width: 12.5rem;
  position: absolute;
  overflow: hidden;
}

#visor-left {
  color: RED;
  font-weight: 500;
  font-size: 12px;
  text-align: left;
  margin-left: 1rem;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffc038;
  text-align: center;
  padding: 10px 0 0 0;
  border-top: 1px solid #ccc;
}

.dol-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .75rem;
  
}

.dollars {
  width: 24rem;
  padding-top: 0.625rem;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.card-body{
  display: flex;
  align-items: center;
  justify-content: center;
}

#last-update{
  text-align: right;
  margin: -0.9375rem .625rem;
  font-size: .8rem;
  font-weight: 600;
}

#timer-container{
  background-color: rgba(224, 138, 81, 0.473);
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  border: rgb(0, 0, 0) solid .25rem;
  border-radius: 10%;
  width:16rem;
  height: 16rem;
}

#timer-container p{
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: 700;
  padding: 5px;
}