/* GENERAL STYLES */
@import url('https://fonts.cdnfonts.com/css/neutraface-text');

* {
  box-sizing: border-box;
}

body {
  background-color: #ffc038;
  min-height: 100vh;
  margin: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

main h1{
  font-size: 4rem;
  font-weight: bold;
}

main p{
  font-weight: bold;
  
}

#footer {
  width: 100%;
  display: flex;
  height: auto;
  background-color: #ffc038;
  text-align: center;
  justify-content: center;
  padding: 0.625rem 0 0 0;
  border-top: 1px solid #ccc;
}

@media (max-width: 580px) {
  body {
    margin-bottom: 5rem;
  }
}

.card-title {
  text-align: center;
  background-color: #ffda89;
  font-family: 'Neutraface Text', sans-serif;
  font-weight: bold;
}

/*INDEX*/
#left-side {
  width: 100%;
  position: sticky;
}

#big-container {
  justify-content: flex-start;
}

/* CALCULATOR STYLES */

#calculator{
  border-radius: 2%;
  background-color: black;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6,1fr);
  grid-gap: .4em;
  grid-template-areas: 
  "display display display display"
  "btnClear btnSlash btnAsterisk btnMinus"
  "btn7 btn8 btn9 btnPlus"
  "btn4 btn5 btn6 btnPlus" 
  "btn1 btn2 btn3 btnEquals" 
  "btn0 btn0 btnDot btnEquals"
  ;
}
#display{
  grid-area: display;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  
}

#prevDy, #calcDy{
  border: none;
  
}

#prevDy{
  color:red;
  padding: 0 0 0 .5rem;
  font-size: 1.2rem;
  font-weight: 600;
  
}

#calcDy{
  font-size: 2rem;
  text-align: right;
  font-weight: bold;
  color:black;
  padding: 0 0.4rem 0 0;
}

#btn9{
  grid-area:btn9 ;
}
#btn8{
  grid-area:btn8;
}
#btn7{
  grid-area:btn7 ;
}
#btn6{
  grid-area:btn6 ;
}
#btn5{
  grid-area:btn5 ;
}
#btn4{
  grid-area:btn4 ;
}
#btn3{
  grid-area:btn3 ;
}
#btn2{
  grid-area:btn2 ;
}
#btn1{
  grid-area:btn1 ;
}
#btn0{
  grid-area:btn0 ;
}
#btnSlash{
  grid-area: btnSlash;
}
#btnAsterisk{
  grid-area: btnAsterisk;
}
#btnMinus{
  grid-area: btnMinus;
}
#btnPlus{
  grid-area: btnPlus;
}
#btnDot{
  grid-area: btnDot;
}
#btnClear{
  grid-area: btnClear;
  background-color: hsl(34, 100%, 50%)
}


#btnEquals{
  grid-area: btnEquals;
  width: 100%;
  background-color: hsl(30, 100%, 51%);
  }

.calcBtn{
  font-size: 1rem;
  font-weight: bold;
  border: none;
  }
.btnOp{
  background-color: hsl(203, 23%, 58%);
}

.numberBtn{
  background-color: hsl(200, 51%, 90%);
  
}

.btnOp:hover{
  background-color: hsl(203, 23%, 75%);
}

#btnClear:hover{
  background-color: hsl(34, 100%, 90%);
}
#btnEquals:hover{
background-color: hsl(30, 100%, 95%);
} 

.numberBtn:hover{
  background-color: hsl(200, 51%, 100%);
  
}

.numberBtn:active,.btnOp:active, #btnEquals:active,#btnClear:active{
  color:red;
}

/* CURRENCY CONVERTER STYLES */

.dol-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.dollars {
  width: 24rem;
  padding-top: 0.625rem;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body button {
  flex: 1;
  padding: 10px;
  border: white 1px solid;
  font: white;
}

#last-update {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
}

/* TIMER STYLES */

#timer-container {
  background-color: rgba(224, 138, 81, 0.473);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  border: rgb(0, 0, 0) solid 0.25rem;
  border-radius: 10%;
  min-width: 16rem;
  width: 10vw;
  height: 16rem;
}

#timer-container p {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: 700;
  padding: 5px;
}

/* POMODORO STYLES */

#pomodoro-container {
  background-color: #e94f4f;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  border: #000000 solid 0.25rem;
  border-radius: 10%;
  min-width: 16rem;
  width: 10vw;
}

#pomodoro-container img {
  margin-top: 1rem;
}

#pomodoro-container p {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 700;
  padding: 5px;
}

#cycle {
  margin: 1rem auto;
  font-weight: 600;
}
